.App {
  text-align: center;
}

p {
  margin: 0 0 1em;
}

img {
  max-width: 80%;
  margin: 0 0 1em;
}

.App-header {
  background-color: #071d28;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  outline: none;
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  padding: 0.5em 1em;
  opacity: 1;
  background: none;
  background-color: "red";
  margin: 0 0 2em;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.6;
}
